<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Login | TDT</title>
</head>

<body class="container mx-auto py-10">
    <form action="/login" method="post" class="flex flex-col max-w-xl mx-auto">
        <h1 class="text-2xl text-blue-500 text-center font-light mb-5">Login</h1>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="" class="border rounded px-2">

        <label for="password">Password</label>
        <input type="password" id="password" name="password" value="" class="border rounded px-2">

        <button type="submit" class="bg-blue-500 rounded-lg font-semibold text-white py-2 my-5">Log In</button>

        <p>{{ . }}</p>
    </form>
</body>

</html>
